a {
  color: #11999e;
  font-family: "Merriweather", serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

.btn {
  background-color: #11cdd4;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  height: 42px;
  line-height: 42px;
  width: 158px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 0px #3d768a;
}
.btn:hover {
  background-color: #30e3cb;
}
.btn:active {
  position: relative;
  top: 1px;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

h1 {
  font-size: 5.625rem;
  color: #66bfbf;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-weight: normal;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}
.middle-container {
  padding: 100px 0;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.intro {
  width: 30%;
  margin: auto;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

p {
  line-height: 2;
}
.pro {
  text-decoration: underline;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
  bottom: 300px;
}
